<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESSIBILITY_SERVICE" />

    <application>
        <service
            android:name="com.github.zimoyin.asdk.accessibility.AutoSdkAccessibilityService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>

<!--
xml/accessibility_service_config.xml
  <accessibility-service
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:accessibilityEventTypes="typeWindowStateChanged|typeWindowContentChanged"
    android:accessibilityFeedbackType="feedbackSpoken"
    android:notificationTimeout="100"
    android:canPerformGestures="true"
    android:canRetrieveWindowContent="true"
    android:canRequestTouchExplorationMode="false"
    android:settingsActivity="true"
    android:accessibilityFlags="flagDefault|flagIncludeNotImportantViews"
    android:description="@string/accessibility_service_description" />

values/strings.xml
    <resources>
        <string name="accessibility_service_description">This is a accessibility service for AutoSDK.</string>
    </resources>
-->
</manifest>